*~
*.bk
*.o
*.back
*.orig
.nfs*
*.lock
vendor
.bundle
.*.swo
*.swp
.*.swp
.project
.settings
.vagrant
.vagrant.d
.idea/workspace.xml
.idea/tasks.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.DS_Store
.Pipfile
.Pipfile.lock
roles/*
.vscode
.hosts
